.version.home_bp /* version checker */
{
	color: #000002;
	background-color: #001F16;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-color: #000000;
	border-width: 0px;
	margin-left: auto;
	background-color: transparent;
	z-index: 1;
	background-image: none;
	margin-right: auto;
}

#u70507
{
	left: -146px;
	width: 85px;
	margin-right: -10000px;
	z-index: 10;
	min-height: 62px;
	position: relative;
}

#ptop
{
	width: 0.01px;
}

#top
{
	width: 22px;
	position: relative;
	margin-right: -10000px;
}

#U71369_animation
{
	width: 100%;
}

#u36598,#u36598-bw
{
	z-index: 11;
}

#u89176
{
	background-color: #2E3192;
	z-index: 12;
}

#u89177
{
	background-color: #0071BC;
	z-index: 13;
}

#u89185
{
	border-color: transparent;
	background-color: transparent;
	z-index: 14;
	border-width: 0px;
	position: relative;
}

#u89184-4
{
	text-shadow: 0px 3px 7px rgba(0,0,0,0.5);
	z-index: 15;
	box-shadow: none;
	line-height: 28px;
	-pie-box-shadow: none;
}

.SlideShowCaption320
{
	border-color: #000000;
	border-width: 0px;
	background-color: transparent;
}

#u89183-4
{
	text-shadow: 0px 3px 7px rgba(0,0,0,0.5);
	z-index: 19;
	box-shadow: none;
	line-height: 28px;
	-pie-box-shadow: none;
}

#u89184-2,#u89183-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#menuu70967
{
	z-index: 23;
}

#u70968,#u70975,#u71102,#u71213
{
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
}

#u70971,#u70978,#u71103,#u71214
{
	position: relative;
	padding-bottom: 18px;
}

#u70971:hover,#u70971:active,#u70971.MuseMenuActive,#u70978:hover,#u70978:active,#u70978.MuseMenuActive,#u71103:hover,#u71103:active,#u71103.MuseMenuActive,#u71214:hover,#u71214:active,#u71214.MuseMenuActive
{
	margin-bottom: 0px;
	min-height: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

#u70973-4,#u70980-4,#u71106-4,#u71215-4
{
	min-height: 17px;
	top: 9px;
	position: relative;
	margin-right: -10000px;
}

#u70971:hover #u70973-4,#u70971:active #u70973-4,#u70971.MuseMenuActive #u70973-4,#u70978:hover #u70980-4,#u70978:active #u70980-4,#u70978.MuseMenuActive #u70980-4,#u71103:hover #u71106-4,#u71103:active #u71106-4,#u71103.MuseMenuActive #u71106-4,#u71214:hover #u71215-4,#u71214:active #u71215-4,#u71214.MuseMenuActive #u71215-4
{
	margin-right: -10000px;
	margin-top: 0px;
	margin-bottom: 0px;
	min-height: 17px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#pu70739
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
}

#u70739
{
	min-height: 26px;
	padding-bottom: 14px;
	z-index: 2;
}

#u70739_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u70738
{
	width: 25px;
	margin-right: -10000px;
	z-index: 3;
	min-height: 26px;
	position: relative;
}

#u70739-bw
{
	min-height: 26px;
	z-index: 2;
}

#u70740-5
{
	min-height: 12px;
	z-index: 4;
}

#u70740-5-bw
{
	min-height: 12px;
	margin-top: 8px;
	z-index: 4;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

.verticalspacer
{
	min-height: 1px;
}

@media (min-width: 769px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 700px;
		width: 100%;
	}

	#pptop
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 100%;
	}

	#u36598,#U71369_animation,#u36598-bw
	{
		height: 675px;
	}

	#u89176
	{
		padding-bottom: 127px;
		margin-top: 84px;
		position: relative;
		width: 50%;
	}

	#u89184-4
	{
		min-height: 147px;
		text-align: right;
		position: relative;
		margin-right: -10000px;
		margin-top: 126px;
		left: 40px;
		width: 90%;
	}

	#pmenuu70967
	{
		margin-right: -10000px;
		margin-top: 40px;
		width: 80%;
		margin-left: 10%;
	}

	#menuu70967
	{
		position: relative;
		width: 62.5%;
		margin-left: 18.75%;
		left: 2.842170943040401e-14px;
	}

	#u70968
	{
		width: 24.67%;
	}

	#u70971
	{
		width: 100%;
	}

	#u70971:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70971:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70973-4
	{
		width: 100%;
	}

	#u70971.MuseMenuActive,#u70971:hover #u70973-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70971:active #u70973-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70975
	{
		width: 24.67%;
		left: 25%;
	}

	#u70978
	{
		width: 100%;
	}

	#u70971.MuseMenuActive #u70973-4,#u70978:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70978:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70980-4
	{
		width: 100%;
	}

	#u70978.MuseMenuActive,#u70978:hover #u70980-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70978:active #u70980-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71102
	{
		width: 24.84%;
		left: 50%;
	}

	#u71103
	{
		width: 100%;
	}

	#u70978.MuseMenuActive #u70980-4,#u71103:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71103:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71106-4
	{
		width: 100%;
	}

	#u71103.MuseMenuActive,#u71103:hover #u71106-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71103:active #u71106-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71213
	{
		width: 24.84%;
		left: 75.17%;
	}

	#u71214
	{
		width: 100%;
	}

	#u71103.MuseMenuActive #u71106-4,#u71214:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71214:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71215-4
	{
		width: 100%;
	}

	#u71214.MuseMenuActive,#u71214:hover #u71215-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71214:active #u71215-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71214.MuseMenuActive #u71215-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u89185
	{
		width: 960px;
		min-height: 548px;
		margin-top: 75px;
		margin-left: 50%;
		left: -480px;
	}

	#u89177
	{
		padding-bottom: 127px;
		position: relative;
		margin-right: -10000px;
		margin-top: 759px;
		width: 50%;
		margin-left: 50%;
		left: 0px;
	}

	#u89183-4
	{
		min-height: 147px;
		text-align: right;
		position: relative;
		margin-right: -10000px;
		margin-top: 126px;
		width: 90%;
		margin-left: 10%;
		left: -40px;
	}

	#u89184,#u89183
	{
		line-height: 72px;
	}

	#u70739_align_to_page
	{
		width: 100%;
	}

	#u70738
	{
		margin-left: 100%;
		left: -40px;
	}
}

@media (min-width: 321px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		width: 100%;
		max-width: 768px;
	}

	#pptop
	{
		margin-right: -10000px;
		width: 100%;
	}

	#u36598,#U71369_animation,#u36598-bw
	{
		height: 540px;
	}

	#u89176
	{
		padding-bottom: 60px;
		position: relative;
		width: 50%;
	}

	#u89184-4
	{
		min-height: 80px;
		text-align: center;
		position: relative;
		margin-right: -10000px;
		margin-top: 60px;
		left: 40px;
		width: 61.46%;
	}

	#u89184
	{
		font-size: 28px;
		color: #0071BC;
		line-height: 56px;
	}

	#pmenuu70967
	{
		margin-right: -10000px;
		margin-top: 40px;
		width: 89.85%;
		margin-left: 5.08%;
	}

	#menuu70967
	{
		position: relative;
		width: 86.96%;
		margin-left: 6.53%;
		left: 0px;
	}

	#u70968
	{
		width: 24.67%;
	}

	#u70971
	{
		width: 100%;
	}

	#u70971:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70971:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70973-4
	{
		width: 100%;
	}

	#u70971.MuseMenuActive,#u70971:hover #u70973-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70971:active #u70973-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70975
	{
		width: 24.67%;
		left: 25%;
	}

	#u70978
	{
		width: 100%;
	}

	#u70971.MuseMenuActive #u70973-4,#u70978:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70978:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70980-4
	{
		width: 100%;
	}

	#u70978.MuseMenuActive,#u70978:hover #u70980-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70978:active #u70980-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71102
	{
		width: 24.84%;
		left: 50%;
	}

	#u71103
	{
		width: 100%;
	}

	#u70978.MuseMenuActive #u70980-4,#u71103:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71103:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71106-4
	{
		width: 100%;
	}

	#u71103.MuseMenuActive,#u71103:hover #u71106-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71103:active #u71106-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71213
	{
		width: 24.84%;
		left: 75.17%;
	}

	#u71214
	{
		width: 100%;
	}

	#u71103.MuseMenuActive #u71106-4,#u71214:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71214:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71215-4
	{
		width: 100%;
	}

	#u71214.MuseMenuActive,#u71214:hover #u71215-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71214:active #u71215-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71214.MuseMenuActive #u71215-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u89185
	{
		width: 690px;
		min-height: 395px;
		margin-top: 25px;
		margin-left: 50%;
		left: -345px;
	}

	#u89177
	{
		padding-bottom: 60px;
		position: relative;
		margin-right: -10000px;
		margin-top: 540px;
		width: 50%;
		margin-left: 50%;
		left: 0px;
	}

	#u89183-4
	{
		min-height: 80px;
		text-align: center;
		position: relative;
		margin-right: -10000px;
		margin-top: 60px;
		width: 61.46%;
		margin-left: 38.55%;
		left: -40px;
	}

	#u89183
	{
		font-size: 28px;
		color: #2E3192;
		line-height: 56px;
	}

	#u70739_align_to_page
	{
		width: 100%;
	}

	#u70738
	{
		margin-left: 100%;
		left: -40px;
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		width: 320px;
		min-height: 800px;
	}

	#ptop
	{
		margin-right: -10000px;
	}

	#u36598,#U71369_animation,#u36598-bw
	{
		height: 540px;
	}

	#u89176-bw
	{
		z-index: 12;
		margin-top: 321px;
		height: 333px;
	}

	#u89176,#u89177
	{
		height: 333px;
	}

	#u89177-bw
	{
		z-index: 13;
		margin-top: 521px;
		height: 333px;
	}

	#u89185
	{
		width: 241px;
		min-height: 146px;
		margin-right: -10000px;
		margin-top: 150px;
		left: 39px;
	}

	#u89184
	{
		color: #0071BC;
		line-height: 72px;
	}

	#u89184-4-bw
	{
		z-index: 15;
		min-height: 80px;
		margin-top: 381px;
	}

	#u89184-4,#u89183-4
	{
		min-height: 80px;
		text-align: center;
	}

	#u89183
	{
		color: #2E3192;
		line-height: 72px;
	}

	#u89183-4-bw
	{
		z-index: 19;
		min-height: 80px;
		margin-top: 581px;
	}

	#menuu70967
	{
		min-height: 35px;
	}

	#u70968,#u70971
	{
		width: 78px;
	}

	#u70971:hover
	{
		margin-left: 0px;
		width: 78px;
	}

	#u70971:active
	{
		margin-left: 0px;
		width: 78px;
	}

	#u70973-4
	{
		width: 78px;
	}

	#u70971.MuseMenuActive,#u70971:hover #u70973-4
	{
		margin-left: 0px;
		width: 78px;
	}

	#u70971:active #u70973-4
	{
		margin-left: 0px;
		width: 78px;
	}

	#u70975
	{
		width: 78px;
		left: 80px;
	}

	#u70978
	{
		width: 78px;
	}

	#u70971.MuseMenuActive #u70973-4,#u70978:hover
	{
		margin-left: 0px;
		width: 78px;
	}

	#u70978:active
	{
		margin-left: 0px;
		width: 78px;
	}

	#u70980-4
	{
		width: 78px;
	}

	#u70978.MuseMenuActive,#u70978:hover #u70980-4
	{
		margin-left: 0px;
		width: 78px;
	}

	#u70978:active #u70980-4
	{
		margin-left: 0px;
		width: 78px;
	}

	#u70978.MuseMenuActive #u70980-4
	{
		margin-left: 0px;
		width: 78px;
	}

	#u71102
	{
		width: 79px;
		left: 160px;
	}

	#u71103
	{
		width: 79px;
	}

	#u71103:hover
	{
		margin-left: 0px;
		width: 79px;
	}

	#u71103:active
	{
		margin-left: 0px;
		width: 79px;
	}

	#u71106-4
	{
		width: 79px;
	}

	#u71103.MuseMenuActive,#u71103:hover #u71106-4
	{
		margin-left: 0px;
		width: 79px;
	}

	#u71103:active #u71106-4
	{
		margin-left: 0px;
		width: 79px;
	}

	#u71213
	{
		width: 79px;
		left: 241px;
	}

	#u71214
	{
		width: 79px;
	}

	#u71103.MuseMenuActive #u71106-4,#u71214:hover
	{
		margin-left: 0px;
		width: 79px;
	}

	#u71214:active
	{
		margin-left: 0px;
		width: 79px;
	}

	#u71215-4
	{
		width: 79px;
	}

	#u71214.MuseMenuActive,#u71214:hover #u71215-4
	{
		margin-left: 0px;
		width: 79px;
	}

	#u71214:active #u71215-4
	{
		margin-left: 0px;
		width: 79px;
	}

	#u71214.MuseMenuActive #u71215-4
	{
		margin-left: 0px;
		width: 79px;
	}

	#menuu70967-bw
	{
		z-index: 23;
		min-height: 35px;
		margin-top: 40px;
	}

	#u70739_align_to_page
	{
		width: 320px;
	}

	#u70738
	{
		left: 280px;
	}

	body
	{
		min-width: 320px;
	}
}

