.Title,.Menu_Button
{
	font-family: museo-sans-n3, sans-serif;
}

.Slideshow_Caption,.Menu,.Subtitle,.Title_Tabbed_Panel,.CopyRight
{
	font-family: open-sans-n4, sans-serif;
}

.NAV-Text
{
	font-family: open-sans-n7, sans-serif;
}

.Text_Simple,.ts320WCn,.WORKs-Lables,.home-caption,.ts320W-cn,.ts768,.Works-Hero-Captions
{
	font-family: open-sans-n3, sans-serif;
}

