.version.links /* version checker */
{
	color: #000009;
	background-color: #254BFB;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	min-height: 500px;
	margin-right: auto;
	margin-left: auto;
	z-index: 1;
	width: 100%;
	border-color: #000000;
	background-color: transparent;
	background-image: none;
	border-width: 0px;
}

#u29774
{
	min-height: 62px;
	margin-right: -10000px;
	z-index: 37;
	left: -160px;
	width: 85px;
	position: relative;
}

#u928
{
	z-index: 38;
	top: 0px;
	position: fixed;
	height: 50px;
}

#u928-bw
{
	z-index: 38;
}

#U62279_animation
{
	width: 100%;
	height: 1000px;
}

#u62276,#u62276-bw
{
	z-index: 2;
	height: 1000px;
}

#pu1028
{
	margin-right: -10000px;
	width: 0.01px;
	padding-bottom: 1000px;
}

#u1028
{
	position: fixed;
	bottom: 0px;
	height: 39px;
}

#u1031-4
{
	position: fixed;
	bottom: 6px;
}

#pu30449-4
{
	margin-right: -10000px;
	margin-top: 300px;
}

#u30449-4
{
	line-height: 24px;
	font-family: open-sans, sans-serif;
	min-height: 34px;
	z-index: 33;
	text-align: center;
	font-size: 20px;
	width: 100%;
	position: relative;
	background-color: transparent;
	font-weight: 400;
	margin-left: 0%;
}

#u30448-30
{
	min-height: 187px;
	width: 100%;
	text-align: center;
	z-index: 3;
	margin-top: 6px;
	position: relative;
	background-color: transparent;
	margin-left: 0%;
}

#u30448-8,#u30448-9,#u30448-20,#u30448-21
{
	font-weight: 300;
	font-family: open-sans, sans-serif;
}

#u30448-2,#u30448-11,#u30448-24,#u30448-25,#u30448-28
{
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	font-family: open-sans, sans-serif;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 761px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 1280px;
	}

	#u1028,#u1028-bw
	{
		z-index: 64;
	}

	#u1031-4
	{
		z-index: 65;
		min-height: 18px;
	}

	#u1031-4-bw
	{
		z-index: 65;
	}

	#u958
	{
		z-index: 69;
		width: 200px;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u9491
	{
		z-index: 70;
		margin-left: 15px;
	}

	#pu30449-4
	{
		width: 48.44%;
		margin-left: 25.79%;
	}

	#u30449-4,#u30448-30
	{
		left: 0px;
	}

	#menuu929
	{
		z-index: 39;
		width: 563px;
		position: fixed;
		top: 0px;
		right: 20px;
	}

	#u937
	{
		width: 139px;
		min-height: 50px;
		position: relative;
		margin-right: -10000px;
	}

	#u938
	{
		width: 139px;
		padding-bottom: 33px;
		position: relative;
	}

	#u938:hover
	{
		width: 139px;
		min-height: 0px;
		margin: 0px;
	}

	#u938:active
	{
		width: 139px;
		min-height: 0px;
		margin: 0px;
	}

	#u941-4
	{
		width: 139px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 16px;
	}

	#u938:hover #u941-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u938:active #u941-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u944
	{
		width: 139px;
		min-height: 50px;
		position: relative;
		margin-right: -10000px;
		left: 141px;
	}

	#u947
	{
		width: 139px;
		padding-bottom: 33px;
		position: relative;
	}

	#u950-4
	{
		width: 139px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 16px;
	}

	#u938.MuseMenuActive #u941-4,#u947:hover #u950-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u947:active #u950-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u930
	{
		width: 139px;
		min-height: 50px;
		position: relative;
		margin-right: -10000px;
		left: 282px;
	}

	#u933
	{
		width: 139px;
		padding-bottom: 33px;
		position: relative;
	}

	#u936-4
	{
		width: 139px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 16px;
	}

	#u947.MuseMenuActive #u950-4,#u933:hover #u936-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u933:active #u936-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u951
	{
		width: 139px;
		min-height: 50px;
		position: relative;
		margin-right: -10000px;
		left: 423px;
	}

	#u952
	{
		width: 139px;
		padding-bottom: 33px;
		position: relative;
	}

	#u938.MuseMenuActive,#u947.MuseMenuActive,#u933.MuseMenuActive,#u952.MuseMenuActive
	{
		width: 139px;
		min-height: 0px;
		margin: 0px;
	}

	#u955-4
	{
		width: 139px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 16px;
	}

	#u933.MuseMenuActive #u936-4,#u952:hover #u955-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u952:active #u955-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u952.MuseMenuActive #u955-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

}

@media (min-width: 641px) and (max-width: 760px)
{
	#muse_css_mq
	{
		background-color: #0002f8;
	}

	#bp_760.active
	{
		display: block;
	}

	#page
	{
		max-width: 760px;
	}

	#u1028,#u1028-bw
	{
		z-index: 64;
	}

	#u1031-4
	{
		z-index: 65;
		min-height: 14px;
	}

	#u1031-4-bw
	{
		z-index: 65;
	}

	#u958
	{
		z-index: 69;
		width: 200px;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u9491
	{
		z-index: 70;
		margin-left: 15px;
	}

	#pu30449-4
	{
		width: 48.43%;
		margin-left: 25.79%;
	}

	#u30449-4,#u30448-30
	{
		left: -2.842170943040401e-14px;
	}

	#menuu929
	{
		z-index: 39;
		position: fixed;
		top: 0px;
		right: 0px;
		width: 66.19%;
		max-width: 503px;
	}

	#u937
	{
		min-height: 50px;
		position: relative;
		margin-right: -10000px;
		width: 24.66%;
	}

	#u938
	{
		padding-bottom: 33px;
		position: relative;
		width: 100%;
	}

	#u938:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u938:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u941-4
	{
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 16px;
		width: 100%;
	}

	#u938:hover #u941-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u938:active #u941-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u944
	{
		min-height: 50px;
		position: relative;
		margin-right: -10000px;
		width: 24.66%;
		left: 25.05%;
	}

	#u947
	{
		padding-bottom: 33px;
		position: relative;
		width: 100%;
	}

	#u950-4
	{
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 16px;
		width: 100%;
	}

	#u938.MuseMenuActive #u941-4,#u947:hover #u950-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u947:active #u950-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u930
	{
		min-height: 50px;
		position: relative;
		margin-right: -10000px;
		width: 24.66%;
		left: 50.1%;
	}

	#u933
	{
		padding-bottom: 33px;
		position: relative;
		width: 100%;
	}

	#u936-4
	{
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 16px;
		width: 100%;
	}

	#u947.MuseMenuActive #u950-4,#u933:hover #u936-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u933:active #u936-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u951
	{
		min-height: 50px;
		position: relative;
		margin-right: -10000px;
		width: 24.86%;
		left: 75.15%;
	}

	#u952
	{
		padding-bottom: 33px;
		position: relative;
		width: 100%;
	}

	#u938.MuseMenuActive,#u947.MuseMenuActive,#u933.MuseMenuActive,#u952.MuseMenuActive
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u955-4
	{
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 16px;
		width: 100%;
	}

	#u933.MuseMenuActive #u936-4,#u952:hover #u955-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u952:active #u955-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u952.MuseMenuActive #u955-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

}

@media (max-width: 640px)
{
	#muse_css_mq
	{
		background-color: #000280;
	}

	#bp_640.active
	{
		display: block;
	}

	#page
	{
		max-width: 640px;
	}

	#u1028,#u1028-bw
	{
		z-index: 39;
	}

	#u1031-4
	{
		z-index: 40;
		min-height: 14px;
	}

	#u1031-4-bw
	{
		z-index: 40;
	}

	#accordionu4398
	{
		z-index: 44;
		position: fixed;
		top: 0px;
	}

	#u4407
	{
		z-index: 45;
	}

	#u4408-3
	{
		z-index: 46;
		min-height: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u4408-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u4408-2
	{
		margin-left: 10px;
	}

	#u4409
	{
		z-index: 49;
		padding-bottom: 12px;
	}

	#u4480
	{
		min-height: 24px;
		padding-bottom: 26px;
		position: relative;
	}

	#u4480:hover
	{
		min-height: 24px;
		margin: 0px 0px 0px 0%;
	}

	#u4480:active
	{
		min-height: 24px;
		margin: 0px 0px 0px 0%;
	}

	#u4481-4
	{
		min-height: 24px;
		position: relative;
		top: 13px;
	}

	#u4480:hover #u4481-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 24px;
		margin: 0px 0px 0px 0%;
	}

	#u4480:active #u4481-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 24px;
		margin: 0px 0px 0px 0%;
	}

	#u4473
	{
		min-height: 24px;
		padding-bottom: 26px;
		position: relative;
	}

	#u4480.MuseMenuActive,#u4473:active
	{
		min-height: 24px;
		margin: 0px 0px 0px 0%;
	}

	#u4475-4
	{
		min-height: 24px;
		position: relative;
		top: 13px;
	}

	#u4480.MuseMenuActive #u4481-4,#u4473:hover #u4475-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 24px;
		margin: 0px 0px 0px 0%;
	}

	#u4473:active #u4475-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 24px;
		margin: 0px 0px 0px 0%;
	}

	#u4549
	{
		min-height: 24px;
		padding-bottom: 27px;
		position: relative;
	}

	#u4473.MuseMenuActive,#u4549:active
	{
		min-height: 24px;
		margin: 0px 0px 0px 0%;
	}

	#u4551-4
	{
		min-height: 24px;
		position: relative;
		top: 13px;
	}

	#u4473.MuseMenuActive #u4475-4,#u4549:hover #u4551-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 24px;
		margin: 0px 0px 0px 0%;
	}

	#u4549:active #u4551-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 24px;
		margin: 0px 0px 0px 0%;
	}

	#u4600
	{
		min-height: 24px;
		padding-bottom: 27px;
		position: relative;
	}

	#u4549.MuseMenuActive,#u4600:active
	{
		min-height: 24px;
		margin: 0px 0px 0px 0%;
	}

	#u4600.MuseMenuActive
	{
		min-height: 24px;
		margin: 0px 0px 0px 0%;
	}

	#u4603-4
	{
		min-height: 24px;
		position: relative;
		top: 13px;
	}

	#u4549.MuseMenuActive #u4551-4,#u4600:hover #u4603-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 24px;
		margin: 0px 0px 0px 0%;
	}

	#u4600:active #u4603-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 24px;
		margin: 0px 0px 0px 0%;
	}

	#u4600.MuseMenuActive #u4603-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 24px;
		margin: 0px 0px 0px 0%;
	}

	#u4472,#u4546,#u4597
	{
		margin-top: 2px;
	}

	#menuu4471,#menuu4471-bw
	{
		z-index: 50;
		min-height: 208px;
	}

	#accordionu4398-bw
	{
		z-index: 44;
	}

	#pu30449-4
	{
		width: 48.44%;
		margin-left: 25.79%;
	}

	#u30449-4,#u30448-30
	{
		left: 0px;
	}

	body
	{
		min-width: 320px;
	}

}

