#u29774
{
	border-color: transparent;
	background-color: transparent;
	border-width: 0px;
}

#u62276
{
	background-color: transparent;
}

#U62279_animation
{
	border: none;
}

#u928,#u1028
{
	background-color: #000000;
}

#u1031-4
{
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	color: #7F7F7F;
	background-color: transparent;
	font-weight: 300;
}

.MenuItem
{
	cursor: pointer;
}

@media (min-width: 761px)
{
	#u1031-4
	{
		line-height: 12px;
		font-size: 12px;
	}

	#u9491
	{
		display: block;
	}

	#menuu929
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u958,#u937,#u938
	{
		background-color: transparent;
	}

	#u941-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u938:hover #u941-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u938:active #u941-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u944,#u947
	{
		background-color: transparent;
	}

	#u950-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u938.MuseMenuActive #u941-4 p,#u947:hover #u950-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u947:active #u950-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u930,#u933
	{
		background-color: transparent;
	}

	#u936-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u947.MuseMenuActive #u950-4 p,#u933:hover #u936-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u933:active #u936-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u951,#u952
	{
		background-color: transparent;
	}

	#u955-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u933.MuseMenuActive #u936-4 p,#u952:hover #u955-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u952:active #u955-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u952.MuseMenuActive #u955-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

}

@media (min-width: 641px) and (max-width: 760px)
{
	#u1031-4
	{
		line-height: 12px;
		font-size: 12px;
	}

	#u9491
	{
		display: block;
	}

	#menuu929
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u958,#u937,#u938
	{
		background-color: transparent;
	}

	#u941-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u938:hover #u941-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u938:active #u941-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u944,#u947
	{
		background-color: transparent;
	}

	#u950-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u938.MuseMenuActive #u941-4 p,#u947:hover #u950-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u947:active #u950-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u930,#u933
	{
		background-color: transparent;
	}

	#u936-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u947.MuseMenuActive #u950-4 p,#u933:hover #u936-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u933:active #u936-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u951,#u952
	{
		background-color: transparent;
	}

	#u955-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u933.MuseMenuActive #u936-4 p,#u952:hover #u955-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u952:active #u955-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u952.MuseMenuActive #u955-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

}

@media (max-width: 640px)
{
	#u1031-4
	{
		line-height: 11px;
		font-size: 11px;
	}

	#u4408-3
	{
		border-width: 0px;
		border-color: transparent;
		background: transparent url("../images/ahnstyle.svg") no-repeat center center;
		background-size: contain;
	}

	#u4408-3.AccordionPanelTabOpen
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	.nosvg #u4408-3
	{
		background-image: url('../images/ahnstyle_poster_u48902.png');
	}

	#u4408-2
	{
		line-height: 14px;
		color: #999999;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#accordionu4398,#u4409,#menuu4471
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #000000;
	}

	#u4480
	{
		background-color: #000000;
	}

	#u4480:hover
	{
		background-color: #000000;
	}

	#u4480:active
	{
		background-color: #FF0000;
	}

	#u4481-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		line-height: 24px;
		text-transform: uppercase;
		color: #FFFFFF;
		font-size: 20px;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u4480:hover #u4481-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4480:active #u4481-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4473
	{
		background-color: #000000;
	}

	#u4480.MuseMenuActive,#u4473:active
	{
		background-color: #FF0000;
	}

	#u4475-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		line-height: 24px;
		text-transform: uppercase;
		color: #FFFFFF;
		font-size: 20px;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u4473:hover #u4475-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4473:active #u4475-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4549
	{
		background-color: #000000;
	}

	#u4473.MuseMenuActive,#u4549:active
	{
		background-color: #FF0000;
	}

	#u4551-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		line-height: 24px;
		text-transform: uppercase;
		color: #FFFFFF;
		font-size: 20px;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u4549:hover #u4551-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4549:active #u4551-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4407,#u4479,#u4472,#u4546,#u4597
	{
		background-color: transparent;
	}

	#u4600
	{
		background-color: #000000;
	}

	#u4549.MuseMenuActive,#u4600:active
	{
		background-color: #FF0000;
	}

	#u4600.MuseMenuActive
	{
		background-color: #FF0000;
	}

	#u4603-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		line-height: 24px;
		text-transform: uppercase;
		color: #FFFFFF;
		font-size: 20px;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u4600:hover #u4603-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4600:active #u4603-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

}

@media (min-width: 1089px)
{
	#u1031-4
	{
		line-height: 12px;
		font-size: 12px;
	}

	#u9491
	{
		display: block;
	}

	#menuu929
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u958,#u937,#u938
	{
		background-color: transparent;
	}

	#u941-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u938:hover #u941-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u938:active #u941-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u944,#u947
	{
		background-color: transparent;
	}

	#u950-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u938.MuseMenuActive #u941-4 p,#u947:hover #u950-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u947:active #u950-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u930,#u933
	{
		background-color: transparent;
	}

	#u936-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u947.MuseMenuActive #u950-4 p,#u933:hover #u936-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u933:active #u936-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u951,#u952
	{
		background-color: transparent;
	}

	#u955-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u933.MuseMenuActive #u936-4 p,#u952:hover #u955-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u952:active #u955-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u952.MuseMenuActive #u955-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

}

@media (min-width: 761px) and (max-width: 1088px)
{
	#u1031-4
	{
		line-height: 12px;
		font-size: 12px;
	}

	#u9491
	{
		display: block;
	}

	#menuu929
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u958,#u937,#u938
	{
		background-color: transparent;
	}

	#u941-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u938:hover #u941-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u938:active #u941-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u944,#u947
	{
		background-color: transparent;
	}

	#u950-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u938.MuseMenuActive #u941-4 p,#u947:hover #u950-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u947:active #u950-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u930,#u933
	{
		background-color: transparent;
	}

	#u936-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u947.MuseMenuActive #u950-4 p,#u933:hover #u936-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u933:active #u936-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u951,#u952
	{
		background-color: transparent;
	}

	#u955-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u933.MuseMenuActive #u936-4 p,#u952:hover #u955-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u952:active #u955-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u952.MuseMenuActive #u955-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

}

@media (min-width: 921px)
{
	#u1031-4
	{
		line-height: 12px;
		font-size: 12px;
	}

	#u9491
	{
		display: block;
	}

	#menuu929
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u958,#u937,#u938
	{
		background-color: transparent;
	}

	#u941-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u938:hover #u941-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u938:active #u941-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u944,#u947
	{
		background-color: transparent;
	}

	#u950-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u938.MuseMenuActive #u941-4 p,#u947:hover #u950-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u947:active #u950-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u930,#u933
	{
		background-color: transparent;
	}

	#u936-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u947.MuseMenuActive #u950-4 p,#u933:hover #u936-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u933:active #u936-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u951,#u952
	{
		background-color: transparent;
	}

	#u955-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u933.MuseMenuActive #u936-4 p,#u952:hover #u955-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u952:active #u955-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u952.MuseMenuActive #u955-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

}

@media (min-width: 761px) and (max-width: 920px)
{
	#u1031-4
	{
		line-height: 12px;
		font-size: 12px;
	}

	#u9491
	{
		display: block;
	}

	#menuu929
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u958,#u937,#u938
	{
		background-color: transparent;
	}

	#u941-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u938:hover #u941-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u938:active #u941-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u944,#u947
	{
		background-color: transparent;
	}

	#u950-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u938.MuseMenuActive #u941-4 p,#u947:hover #u950-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u947:active #u950-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u930,#u933
	{
		background-color: transparent;
	}

	#u936-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u947.MuseMenuActive #u950-4 p,#u933:hover #u936-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u933:active #u936-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u951,#u952
	{
		background-color: transparent;
	}

	#u955-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u933.MuseMenuActive #u936-4 p,#u952:hover #u955-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u952:active #u955-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u952.MuseMenuActive #u955-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

}

@media (min-width: 531px) and (max-width: 640px)
{
	#u1031-4
	{
		line-height: 11px;
		font-size: 11px;
	}

	#u4408-3
	{
		border-width: 0px;
		border-color: transparent;
		background: transparent url("../images/ahnstyle.svg") no-repeat center center;
		background-size: contain;
	}

	#u4408-3.AccordionPanelTabOpen
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	.nosvg #u4408-3
	{
		background-image: url('../images/ahnstyle_poster_u48902.png');
	}

	#u4408-2
	{
		line-height: 14px;
		color: #999999;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#accordionu4398,#u4409,#menuu4471
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #000000;
	}

	#u4480
	{
		background-color: #000000;
	}

	#u4480:hover
	{
		background-color: #000000;
	}

	#u4480:active
	{
		background-color: #FF0000;
	}

	#u4481-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		line-height: 24px;
		text-transform: uppercase;
		color: #FFFFFF;
		font-size: 20px;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u4480:hover #u4481-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4480:active #u4481-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4473
	{
		background-color: #000000;
	}

	#u4480.MuseMenuActive,#u4473:active
	{
		background-color: #FF0000;
	}

	#u4475-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		line-height: 24px;
		text-transform: uppercase;
		color: #FFFFFF;
		font-size: 20px;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u4473:hover #u4475-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4473:active #u4475-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4549
	{
		background-color: #000000;
	}

	#u4473.MuseMenuActive,#u4549:active
	{
		background-color: #FF0000;
	}

	#u4551-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		line-height: 24px;
		text-transform: uppercase;
		color: #FFFFFF;
		font-size: 20px;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u4549:hover #u4551-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4549:active #u4551-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4407,#u4479,#u4472,#u4546,#u4597
	{
		background-color: transparent;
	}

	#u4600
	{
		background-color: #000000;
	}

	#u4549.MuseMenuActive,#u4600:active
	{
		background-color: #FF0000;
	}

	#u4600.MuseMenuActive
	{
		background-color: #FF0000;
	}

	#u4603-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		line-height: 24px;
		text-transform: uppercase;
		color: #FFFFFF;
		font-size: 20px;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u4600:hover #u4603-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4600:active #u4603-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

}

@media (max-width: 530px)
{
	#u1031-4
	{
		line-height: 11px;
		font-size: 11px;
	}

	#u4408-3
	{
		border-width: 0px;
		border-color: transparent;
		background: transparent url("../images/ahnstyle.svg") no-repeat center center;
		background-size: contain;
	}

	#u4408-3.AccordionPanelTabOpen
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	.nosvg #u4408-3
	{
		background-image: url('../images/ahnstyle_poster_u48902.png');
	}

	#u4408-2
	{
		line-height: 14px;
		color: #999999;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#accordionu4398,#u4409,#menuu4471
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #000000;
	}

	#u4480
	{
		background-color: #000000;
	}

	#u4480:hover
	{
		background-color: #000000;
	}

	#u4480:active
	{
		background-color: #FF0000;
	}

	#u4481-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		line-height: 24px;
		text-transform: uppercase;
		color: #FFFFFF;
		font-size: 20px;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u4480:hover #u4481-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4480:active #u4481-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4473
	{
		background-color: #000000;
	}

	#u4480.MuseMenuActive,#u4473:active
	{
		background-color: #FF0000;
	}

	#u4475-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		line-height: 24px;
		text-transform: uppercase;
		color: #FFFFFF;
		font-size: 20px;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u4473:hover #u4475-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4473:active #u4475-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4549
	{
		background-color: #000000;
	}

	#u4473.MuseMenuActive,#u4549:active
	{
		background-color: #FF0000;
	}

	#u4551-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		line-height: 24px;
		text-transform: uppercase;
		color: #FFFFFF;
		font-size: 20px;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u4549:hover #u4551-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4549:active #u4551-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4407,#u4479,#u4472,#u4546,#u4597
	{
		background-color: transparent;
	}

	#u4600
	{
		background-color: #000000;
	}

	#u4549.MuseMenuActive,#u4600:active
	{
		background-color: #FF0000;
	}

	#u4600.MuseMenuActive
	{
		background-color: #FF0000;
	}

	#u4603-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		line-height: 24px;
		text-transform: uppercase;
		color: #FFFFFF;
		font-size: 20px;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u4600:hover #u4603-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	#u4600:active #u4603-4 p
	{
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

}

