	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 700px;
		width: 100%;
	}

	#pptop
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 100%;
	}

	#u36598,#U71369_animation,#u36598-bw
	{
		height: 675px;
	}

	#u89176
	{
		padding-bottom: 127px;
		margin-top: 84px;
		position: relative;
		width: 50%;
	}

	#u89184-4
	{
		min-height: 147px;
		text-align: right;
		position: relative;
		margin-right: -10000px;
		margin-top: 126px;
		left: 40px;
		width: 90%;
	}

	#pmenuu70967
	{
		margin-right: -10000px;
		margin-top: 40px;
		width: 80%;
		margin-left: 10%;
	}

	#menuu70967
	{
		position: relative;
		width: 62.5%;
		margin-left: 18.75%;
		left: 2.842170943040401e-14px;
	}

	#u70968
	{
		width: 24.67%;
	}

	#u70971
	{
		width: 100%;
	}

	#u70971:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70971:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70973-4
	{
		width: 100%;
	}

	#u70971.MuseMenuActive,#u70971:hover #u70973-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70971:active #u70973-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70975
	{
		width: 24.67%;
		left: 25%;
	}

	#u70978
	{
		width: 100%;
	}

	#u70971.MuseMenuActive #u70973-4,#u70978:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70978:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70980-4
	{
		width: 100%;
	}

	#u70978.MuseMenuActive,#u70978:hover #u70980-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u70978:active #u70980-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71102
	{
		width: 24.84%;
		left: 50%;
	}

	#u71103
	{
		width: 100%;
	}

	#u70978.MuseMenuActive #u70980-4,#u71103:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71103:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71106-4
	{
		width: 100%;
	}

	#u71103.MuseMenuActive,#u71103:hover #u71106-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71103:active #u71106-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71213
	{
		width: 24.84%;
		left: 75.17%;
	}

	#u71214
	{
		width: 100%;
	}

	#u71103.MuseMenuActive #u71106-4,#u71214:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71214:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71215-4
	{
		width: 100%;
	}

	#u71214.MuseMenuActive,#u71214:hover #u71215-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71214:active #u71215-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u71214.MuseMenuActive #u71215-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u89185
	{
		width: 960px;
		min-height: 548px;
		margin-top: 75px;
		margin-left: 50%;
		left: -480px;
	}

	#u89177
	{
		padding-bottom: 127px;
		position: relative;
		margin-right: -10000px;
		margin-top: 759px;
		width: 50%;
		margin-left: 50%;
		left: 0px;
	}

	#u89183-4
	{
		min-height: 147px;
		text-align: right;
		position: relative;
		margin-right: -10000px;
		margin-top: 126px;
		width: 90%;
		margin-left: 10%;
		left: -40px;
	}

	#u89184,#u89183
	{
		line-height: 72px;
	}

	#u70739_align_to_page
	{
		width: 100%;
	}

	#u70738
	{
		margin-left: 100%;
		left: -40px;
	}

