	#u44281
	{
		background-color: #FDD79D;
		background-color: rgba(251,176,59,0.5);
	}

	#u44283
	{
		background-color: #94D5F0;
		background-color: rgba(41,171,226,0.5);
	}

	#u44282
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

