	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 1280px;
	}

	#u1028,#u1028-bw
	{
		z-index: 91;
	}

	#u1031-4
	{
		z-index: 92;
		min-height: 18px;
	}

	#u1031-4-bw
	{
		z-index: 92;
	}

	#u958
	{
		z-index: 96;
		width: 200px;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u9491
	{
		z-index: 97;
		margin-left: 15px;
	}

	#u144-4
	{
		margin-top: 144px;
		width: 48.99%;
		margin-left: 25.51%;
		left: -1px;
	}

	#widgetu1649
	{
		margin-top: 201px;
		left: 37.66%;
	}

	#u1661-17
	{
		background-image: url("../images/u1661-17.png");
	}

	#u1661-17:hover
	{
		background-image: url("../images/u1661-17-r.png");
	}

	#u1661-17:active
	{
		background-image: url("../images/u1661-17-m.png");
	}

	#widgetu1649.frm-sub-st #u1661-17
	{
		background-image: url("../images/u1661-17-fs.png");
	}

	.hidpi #u1661-17
	{
		background-image: url("../images/u1661-17_2x.png");
	}

	.hidpi #u1661-17:hover
	{
		background-image: url("../images/u1661-17-r_2x.png");
	}

	.hidpi #u1661-17:active
	{
		background-image: url("../images/u1661-17-m_2x.png");
	}

	.hidpi #widgetu1649.frm-sub-st #u1661-17
	{
		background-image: url("../images/u1661-17-fs_2x.png");
	}

	#menuu929
	{
		z-index: 66;
		width: 563px;
		position: fixed;
		top: 0px;
		right: 20px;
	}

	#u937
	{
		width: 139px;
		min-height: 50px;
		position: relative;
		margin-right: -10000px;
	}

	#u938
	{
		width: 139px;
		padding-bottom: 33px;
		position: relative;
	}

	#u938:hover
	{
		width: 139px;
		min-height: 0px;
		margin: 0px;
	}

	#u938:active
	{
		width: 139px;
		min-height: 0px;
		margin: 0px;
	}

	#u941-4
	{
		width: 139px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 16px;
	}

	#u938:hover #u941-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u938:active #u941-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u944
	{
		width: 139px;
		min-height: 50px;
		position: relative;
		margin-right: -10000px;
		left: 141px;
	}

	#u947
	{
		width: 139px;
		padding-bottom: 33px;
		position: relative;
	}

	#u950-4
	{
		width: 139px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 16px;
	}

	#u938.MuseMenuActive #u941-4,#u947:hover #u950-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u947:active #u950-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u930
	{
		width: 139px;
		min-height: 50px;
		position: relative;
		margin-right: -10000px;
		left: 282px;
	}

	#u933
	{
		width: 139px;
		padding-bottom: 33px;
		position: relative;
	}

	#u936-4
	{
		width: 139px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 16px;
	}

	#u947.MuseMenuActive #u950-4,#u933:hover #u936-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u933:active #u936-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u951
	{
		width: 139px;
		min-height: 50px;
		position: relative;
		margin-right: -10000px;
		left: 423px;
	}

	#u952
	{
		width: 139px;
		padding-bottom: 33px;
		position: relative;
	}

	#u938.MuseMenuActive,#u947.MuseMenuActive,#u933.MuseMenuActive,#u952.MuseMenuActive
	{
		width: 139px;
		min-height: 0px;
		margin: 0px;
	}

	#u955-4
	{
		width: 139px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 16px;
	}

	#u933.MuseMenuActive #u936-4,#u952:hover #u955-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u952:active #u955-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u952.MuseMenuActive #u955-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}


