	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
	}

	#slideshowu75
	{
		height: 600px;
		left: -600px;
	}

	#u77,#u17612,#u4160,#u4175,#u4198
	{
		width: 1200px;
		height: 600px;
	}

	#u96-3
	{
		width: 14px;
		min-height: 14px;
		background-image: url("../images/arrows-u96-3-fr.png");
		top: 520px;
		left: 546px;
	}

	#u88-3
	{
		width: 14px;
		min-height: 14px;
		background-image: url("../images/arrows-u88-3-fr.png");
		top: 520px;
		left: 610px;
	}

	#u96-3:hover,#u88-3:hover
	{
		min-height: 14px;
		width: 14px;
	}

	#home
	{
		left: 33px;
	}

	#u44281
	{
		margin-top: 40px;
		width: 75%;
		margin-left: 12.5%;
	}

	#ppamphletu49931
	{
		margin-top: -500px;
		width: 100%;
	}

	#pamphletu49931
	{
		margin-top: 100px;
	}

	#u44283
	{
		height: 360px;
		width: 75%;
		margin-left: 12.5%;
	}

	#u1189-4
	{
		min-height: 46px;
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
		top: -81px;
		margin-bottom: -46px;
		position: relative;
		width: 36.09%;
		margin-left: 63.92%;
		left: -36px;
	}

	#u1180
	{
		min-height: 68px;
		padding-bottom: 29px;
	}

	#u1186
	{
		width: 357px;
		margin-top: 34px;
		margin-left: 100%;
		left: -392px;
	}

	#u1185-4
	{
		width: 117px;
		margin-left: 100%;
		left: -357px;
	}

	#u1185-4:hover
	{
		width: 117px;
		margin-left: 100%;
		left: -357px;
	}

	#u1185-4.MuseLinkActive
	{
		width: 117px;
		margin-left: 100%;
		left: -357px;
	}

	#pu1182-4
	{
		width: 67.23%;
		margin-left: 32.78%;
	}

	#u1182-4
	{
		width: 120px;
		margin-left: 100%;
		left: -119.99999999999999px;
	}

	#u1182-4:hover
	{
		width: 120px;
		margin-left: 100%;
		left: -119.99999999999999px;
	}

	#u1182-4.MuseLinkActive
	{
		width: 120px;
		margin-left: 100%;
		left: -119.99999999999999px;
	}

	#u1183-4
	{
		width: 119px;
		margin-left: 100%;
		left: -240px;
	}

	#u1183-4:hover
	{
		width: 119px;
		margin-left: 100%;
		left: -240px;
	}

	#u1183-4.MuseLinkActive
	{
		width: 119px;
		margin-left: 100%;
		left: -240px;
	}

	#u1180-bw
	{
		min-height: 68px;
	}

	#about
	{
		margin-left: 22px;
		margin-top: 39px;
	}

	#u1192-4
	{
		margin-top: 69px;
		width: 80%;
		margin-left: 10%;
		left: 0px;
	}

	#u1294-4
	{
		margin-top: 13px;
		width: 80%;
		margin-left: 10%;
		left: 0px;
	}

	#pu1191-7
	{
		margin-top: 44px;
		width: 100%;
	}

	#u1191-7
	{
		margin-right: -10000px;
		width: 36.67%;
		left: 10%;
	}

	#u1196-12
	{
		margin-right: -10000px;
		width: 36.67%;
		left: 53.34%;
	}

	#portfolio
	{
		margin-left: 22px;
		margin-top: 234px;
	}

	#u1262-4
	{
		margin-top: 123px;
		width: 80%;
		margin-left: 10%;
		left: 0px;
	}

	#slideshowu1326
	{
		height: 706px;
		margin-top: 35px;
		left: -481px;
	}

	#u1327
	{
		width: 1200px;
		background-color: #191919;
		background-color: rgba(0,0,0,0.9);
		top: 495px;
		left: -119px;
	}

	#u3997
	{
		width: 1156px;
		left: 22px;
	}

	#u4242,#u4296,#u4341,#u4362,#u4371,#u4396,#u4251
	{
		width: 1156px;
	}

	#u1346
	{
		width: 961px;
	}

	#u4000
	{
		width: 200px;
		left: 381px;
	}

	#u4245
	{
		width: 200px;
		margin-top: 253px;
		left: 381px;
	}

	#u4299
	{
		width: 200px;
		margin-top: 506px;
	}

	#u4344
	{
		width: 200px;
		margin-top: 506px;
		left: 380px;
	}

	#u4299:hover,#u4344:hover
	{
		margin-top: 506px;
		width: 200px;
	}

	#u4245:hover,#u4365
	{
		margin-top: 253px;
		width: 200px;
	}

	#u4374
	{
		width: 200px;
		margin-top: 253px;
		left: 761px;
	}

	#u4365:hover,#u4374:hover
	{
		margin-top: 253px;
		width: 200px;
	}

	#u4399
	{
		width: 200px;
		left: 761px;
	}

	#u4000:hover,#u4399:hover
	{
		margin-top: 0px;
		width: 200px;
	}

	#u4254
	{
		width: 200px;
	}

	#u4254:hover
	{
		width: 200px;
	}

	#contact
	{
		margin-left: 22px;
		margin-top: 78px;
	}

	#u17295-4
	{
		margin-top: 125px;
		width: 80%;
		margin-left: 10%;
		left: 0px;
	}

	#u1296-4,#u2154-4
	{
		margin-top: 6px;
		width: 80%;
		margin-left: 10%;
		left: 0px;
	}

	#widgetu17729
	{
		height: 149px;
		margin-top: 50px;
		left: -390px;
	}

	#widgetu17740
	{
		width: 342px;
	}

	#widgetu17740.fld-err-st
	{
		width: 342px;
	}

	#u17741-4
	{
		width: 328px;
	}

	#widgetu17740:hover #u17741-4
	{
		width: 328px;
	}

	#widgetu17740.focus-st #u17741-4
	{
		width: 328px;
	}

	#widgetu17734
	{
		width: 342px;
		margin-top: 60px;
	}

	#widgetu17734.fld-err-st
	{
		margin-top: 60px;
		width: 342px;
	}

	#widgetu17740.fld-err-st #u17741-4,#widgetu17740_input,#widgetu17740_prompt,#u17735-4
	{
		width: 328px;
	}

	#widgetu17734:hover #u17735-4
	{
		width: 328px;
	}

	#widgetu17734.focus-st #u17735-4
	{
		width: 328px;
	}

	#u17745-4
	{
		width: 200px;
		min-height: 25px;
		margin-top: 119px;
		left: 580px;
	}

	#u17739-4
	{
		width: 200px;
		min-height: 25px;
		margin-top: 119px;
		left: 580px;
	}

	#u17744-4
	{
		width: 200px;
		min-height: 25px;
		margin-top: 119px;
		left: 580px;
	}

	#widgetu17729.frm-sub-st #u17745-4,#widgetu17729.frm-subm-err-st #u17739-4,#widgetu17729.frm-subm-ok-st #u17744-4
	{
		min-height: 29px;
	}

	#u17738-17
	{
		background-image: url("../images/u17738-17.png");
		margin-bottom: -1px;
		margin-top: 119px;
		left: 440px;
	}

	#u17738-17:hover
	{
		background-image: url("../images/u17738-17-r.png");
	}

	#u17738-17:active
	{
		background-image: url("../images/u17738-17-m.png");
	}

	#widgetu17729.frm-sub-st #u17738-17
	{
		background-image: url("../images/u17738-17-fs.png");
	}

	.hidpi #u17738-17
	{
		background-image: url("../images/u17738-17_2x.png");
	}

	.hidpi #u17738-17:hover
	{
		background-image: url("../images/u17738-17-r_2x.png");
	}

	.hidpi #u17738-17:active
	{
		background-image: url("../images/u17738-17-m_2x.png");
	}

	.hidpi #widgetu17729.frm-sub-st #u17738-17
	{
		background-image: url("../images/u17738-17-fs_2x.png");
	}

	#widgetu17730
	{
		width: 342px;
		height: 82px;
		margin-top: -1px;
		left: 439px;
	}

	#widgetu17730.fld-err-st
	{
		margin-top: -1px;
		width: 342px;
		height: 82px;
	}

	#u17733-4
	{
		width: 328px;
		min-height: 68px;
	}

	#widgetu17730:hover #u17733-4
	{
		min-height: 68px;
		width: 328px;
	}

	#widgetu17730.focus-st #u17733-4
	{
		min-height: 68px;
		width: 328px;
	}

	#widgetu17730.fld-err-st #u17733-4,#widgetu17730_input,#widgetu17730_prompt
	{
		min-height: 68px;
		width: 328px;
	}

	#widgetu17815
	{
		width: 342px;
		margin-bottom: -1px;
		margin-top: 122px;
	}

	#widgetu17815.fld-err-st
	{
		margin-bottom: -1px;
		margin-top: 122px;
		width: 342px;
	}

	#widgetu17734.fld-err-st #u17735-4,#widgetu17734_input,#widgetu17734_prompt,#u17817-4
	{
		width: 328px;
	}

	#widgetu17815:hover #u17817-4
	{
		width: 328px;
	}

	#widgetu17815.focus-st #u17817-4
	{
		width: 328px;
	}

	#widgetu17815.fld-err-st #u17817-4,#widgetu17815_input,#widgetu17815_prompt
	{
		width: 328px;
	}

	#u44146
	{
		top: -20px;
		width: 91.67%;
		margin-left: 4.17%;
	}

