	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 1280px;
	}

	#pu928
	{
		padding-bottom: 50px;
	}

	#u958
	{
		z-index: 443;
		width: 200px;
		position: fixed;
		top: 0px;
		left: 0px;
	}

	#u9491
	{
		z-index: 444;
		margin-left: 15px;
	}

	#u9951-4
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

	#u9919-4
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

	#u9921-4
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

	#u28222-4
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

	#u28233-4
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

	#u28228-4
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

	#u28362-4
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

	#u28373-4
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

	#u28368-4
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

	#u1028,#u1028-bw
	{
		z-index: 438;
	}

	#u1031-4
	{
		z-index: 439;
		min-height: 18px;
	}

	#u1031-4-bw
	{
		z-index: 439;
	}

	#u9902,#u47541,#u49507,#u49527,#u49547,#u49567,#u49587,#u49607,#u49627,#u49647,#u49667,#u49687,#u49707,#u49727,#u49747,#u49767,#u49787,#u49807,#u49827,#u49847,#u49867,#u49887,#u49907,#u49927,#u49947,#u49967,#u49987,#u50007,#u50027,#u50047,#u50067,#u50087,#u50107,#u50127,#u50147,#u50167,#u50187,#u50207,#u50227,#u50247,#u50267,#u50287,#u50307,#u50327,#u50347,#u50367,#u50387,#u50407,#u50427,#u50447,#u50467,#u50487,#u50507,#u50527,#u50547,#u50567,#u50587,#u50607,#u50627,#u50647,#u50667,#u50687,#u50707,#u50727,#u50747,#u50767,#u50787,#u50807,#u50827,#u50847,#u50867,#u50887,#u50907,#u50927,#u50947,#u50967,#u50987,#u51007,#u51027,#u51047,#u28234,#u35742,#u51254,#u51274,#u51294,#u51314,#u51334,#u51354,#u51374,#u51394,#u51414,#u51434,#u51454,#u51474,#u51494,#u51514,#u51534,#u51554,#u51574,#u51594,#u51614,#u51634,#u51654,#u51674,#u51694,#u51714,#u51734,#u28374,#u37146,#u51906,#u51926,#u51946,#u51966,#u51986,#u52006,#u52026,#u52046,#u52066,#u52086,#u52106,#u52126,#u52146,#u52166,#u52186,#u52206,#u52226,#u52246,#u52266,#u52286,#u28295,#u38982,#u52591,#u52611,#u52631,#u52651,#u52671,#u52691,#u52711,#u52731,#u52751,#u52771,#u52791,#u52811,#u52831,#u52851,#u52871,#u52891,#u52911,#u52931,#u52951,#u52971,#u52991,#u53011,#u53031,#u53051,#u53071,#u53091,#u53111,#u53131,#u53151,#u53171,#u53191,#u53211,#u53231,#u53251,#u53271,#u53291,#u53311,#u53331,#u53351
	{
		width: 1280px;
	}

	#u28314-4
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

	#u28301-4
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

	#u28303-4
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

	#u25322-4
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

	#u28218-4
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

	#u28291-4
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

	#u28288-4
	{
		background-color: #7F7F7F;
		background-color: rgba(0,0,0,0.5);
	}

	#menuu929
	{
		z-index: 413;
		width: 563px;
		position: fixed;
		top: 0px;
		right: 20px;
	}

	#u937
	{
		width: 139px;
		min-height: 50px;
		position: relative;
		margin-right: -10000px;
	}

	#u938
	{
		width: 139px;
		padding-bottom: 33px;
		position: relative;
	}

	#u938:hover
	{
		width: 139px;
		min-height: 0px;
		margin: 0px;
	}

	#u938:active
	{
		width: 139px;
		min-height: 0px;
		margin: 0px;
	}

	#u941-4
	{
		width: 139px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 16px;
	}

	#u938:hover #u941-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u938:active #u941-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u944
	{
		width: 139px;
		min-height: 50px;
		position: relative;
		margin-right: -10000px;
		left: 141px;
	}

	#u947
	{
		width: 139px;
		padding-bottom: 33px;
		position: relative;
	}

	#u950-4
	{
		width: 139px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 16px;
	}

	#u938.MuseMenuActive #u941-4,#u947:hover #u950-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u947:active #u950-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u930
	{
		width: 139px;
		min-height: 50px;
		position: relative;
		margin-right: -10000px;
		left: 282px;
	}

	#u933
	{
		width: 139px;
		padding-bottom: 33px;
		position: relative;
	}

	#u936-4
	{
		width: 139px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 16px;
	}

	#u947.MuseMenuActive #u950-4,#u933:hover #u936-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u933:active #u936-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u951
	{
		width: 139px;
		min-height: 50px;
		position: relative;
		margin-right: -10000px;
		left: 423px;
	}

	#u952
	{
		width: 139px;
		padding-bottom: 33px;
		position: relative;
	}

	#u938.MuseMenuActive,#u947.MuseMenuActive,#u933.MuseMenuActive,#u952.MuseMenuActive
	{
		width: 139px;
		min-height: 0px;
		margin: 0px;
	}

	#u955-4
	{
		width: 139px;
		min-height: 17px;
		position: relative;
		margin-right: -10000px;
		top: 16px;
	}

	#u933.MuseMenuActive #u936-4,#u952:hover #u955-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u952:active #u955-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}

	#u952.MuseMenuActive #u955-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 139px;
		margin: 0px -10000px 0px 0px;
	}


