	#u1031-4
	{
		line-height: 12px;
		font-size: 12px;
	}

	#u9491
	{
		display: block;
	}

	#menuu929
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u958,#u937,#u938
	{
		background-color: transparent;
	}

	#u941-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u938:hover #u941-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u938:active #u941-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u944,#u947
	{
		background-color: transparent;
	}

	#u950-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u938.MuseMenuActive #u941-4 p,#u947:hover #u950-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u947:active #u950-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u930,#u933
	{
		background-color: transparent;
	}

	#u936-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u947.MuseMenuActive #u950-4 p,#u933:hover #u936-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u933:active #u936-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u951,#u952
	{
		background-color: transparent;
	}

	#u955-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		font-family: acumin-pro, sans-serif;
		font-weight: 700;
	}

	#u933.MuseMenuActive #u936-4 p,#u952:hover #u955-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}

	#u952:active #u955-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u952.MuseMenuActive #u955-4 p
	{
		color: #FF0000;
		visibility: inherit;
	}


